<div class="container">
 <app-cockpit 
 (ServerCreated)="OnServerAdded($event)"
 (BlueprintCreated)="OnBlueprintAdded($event)"
 ></app-cockpit>
<hr>
<div class="row">
  <div class="col-md-8">
    <app-server-elemment  *ngFor="let ServerElement of serverElements"
    [element]="ServerElement"
    >
    <div class="card-body">
      <p>
        <strong *ngIf="ServerElement.type==='server'" style="color:red">{{ServerElement.content}}</strong>
        <em *ngIf="ServerElement.type==='blueprint'" style="color:blue">{{ServerElement.content}}</em>
      </p>
    </div>
  </app-server-elemment>
  </div>
  <div class="col-md-4">
    <div class="card">
    <app-counter-parent></app-counter-parent>
  </div>
  </div>
</div>

</div>
